language: swift
osx_image: xcode7.3

env:
  global:
  - LC_CTYPE=en_US.UTF-8
  - LANG=en_US.UTF-8

before_install:
    - env
    - locale
    - rvm list
    - gem install cocoapods --no-rdoc --no-ri --no-document --quiet
    - gem install xcpretty --no-rdoc --no-ri --no-document --quiet
    - pod --version
    - pod setup --silent
    - pod repo update --silent
    - xcpretty --version
    - xcodebuild -version
    - xcodebuild -showsdks

script:
    - set -o pipefail
    - echo Check if the library described by the podspec can be built
    - pod lib lint
    - echo Build the library
    - xcodebuild clean build -workspace YSRangeSlider.xcworkspace -scheme YSRangeSlider -sdk iphonesimulator PLATFORM_NAME=iphonesimulator -configuration Debug | xcpretty -c
    - echo Build the example
    - pod install --project-directory=YSRangeSliderExample
    - xcodebuild clean build -workspace YSRangeSlider.xcworkspace -scheme YSRangeSliderExample -sdk iphonesimulator PLATFORM_NAME=iphonesimulator -configuration Debug | xcpretty -c
